{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["react", "@typescript-eslint"],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-imports": 2
  }
}
